<strong>Olá, {{ delivery_man }}</strong>
<p>Cancelamos uma encomenda após você registrar um problema na entrega:</p>

<strong>Descrição do problema: </strong><br />
<p>
  {{ problem }}
</p>

<strong>Detalhes da entrega:</strong><br />
<p>
  <strong>Produto: </strong>{{ product }}.<br />
  <strong>Data de cancelament: </strong>{{ canceled_at }}.<br />
  <br /><br />
  <small>
    Agradecemos por nos informar.
  </small>
</p>
