<strong>Olá, {{delivery_man}}</strong>
<p>Uma encomenda foi cadastrada para você, confira os detalhes abaixo:</p>
<p>
  <strong>Seu ID de acesso ao aplicativo é:</strong> {{id}} <br />

  <strong>Produto: </strong> {{product}} <br />
  <strong>Encomenda: </strong>Nº {{ delivery_id }} <br />
  <br />
</p>
