<strong>Olá, {{delivery_man}}</strong>
<p>Uma encomenda foi cadastrada para você, confira os detalhes abaixo:</p>
<p>
  <strong>ID da encomenda é:</strong> {{id}} <br />

  <strong>Produto: </strong> {{product}} <br />
  <br />
</p>
